<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Supplier Name</h4>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <h6>{{supData?.sup_name}}</h6>
                    </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <h4>Supplier Phone</h4>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <h6>{{supData?.sup_phone}}</h6>
                        </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <h4>Supplier Email</h4>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                                <h6>{{supData?.sup_email}}</h6>
                            </div>
                </div>
    </div>
    