<mat-toolbar class="mat-elevation-z5" color="" style="background: azure; position:sticky;top: 0">

    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="" src="https://images-na.ssl-images-amazon.com/images/I/51UxJNUFa4L.png" height="30" width=30>
            </a>
        </div>
    </div>
    <span style="text-align:start">Welcome Client</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space" style="flex: 1 1 auto"></span>

    <!--add some links on these spans-->
    <a *ngIf="showCompleteProfile" style="text-decoration: none;cursor: pointer"><span class="example-spacer"
            style="padding-right: 30px;color: red" (click)="clickDashBoard()">Please complete your profile</span></a>
    <a *ngIf="showView != 0" style="text-decoration: none;cursor: pointer;"><span class="example-spacer"
            style="padding-right: 30px" (click)="clickDashBoard()">Dashboard</span></a>
    <a style="text-decoration: none;cursor: pointer;"><span class="example-space" style="padding-right: 30px"
            on-click="logout()">Logout</span></a>

</mat-toolbar>



<div *ngIf="showView==0">
    <mat-card class="mat-elevation-z5" style="background-color: rgb(255, 80, 80);height: 100%;margin-top: 10px;">
        <mat-grid-list cols="5" rowHeight="5:5" [gutterSize]="'20px'">
            <mat-grid-tile>
                <mat-card class="cardColorStyle mat-elevation-z5">
                    <img height=70% width=100% src="assets/add-friend.png">
                    <button mat-raised-button style="width: 100%;margin-top:15px; " (click)="clickNewBooking()">
                        <h3>
                            New Booking
                        </h3>
                    </button>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="cardColorStyle mat-elevation-z5">
                    <img height=70% width=100% src="assets/question.png">
                    <button matBadge="15" matBadgeColor="warn" mat-raised-button style="width: 100%;margin-top:15px; "
                        (click)="clickJob()">
                        <h3>
                            Pending Booking
                        </h3>
                    </button>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="cardColorStyle mat-elevation-z5">
                    <img height=70% width=100% src="assets/customer-service.png">
                    <button matBadge="15" matBadgeColor="warn" mat-raised-button style="width: 100%;margin-top:15px; "
                        (click)="clickJobActive()">
                        <h3>
                            Active Booking
                        </h3>
                    </button>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="cardColorStyle mat-elevation-z5">
                    <img height=70% width=100% src="assets/contact.png">
                    <button matBadge="15" matBadgeColor="warn" mat-raised-button style="width: 100%;margin-top:15px; "
                        (click)="clickJobCompleted()">
                        <h3>
                            Completed Booking
                        </h3>
                    </button>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="cardColorStyle mat-elevation-z5">
                    <img height=70% width=100% src="assets/boy.png">
                    <button matBadge="1" matBadgeColor="warn" mat-raised-button style="width: 100%;margin-top:15px; "
                        (click)="clickJobMyProfile()">
                        <h3>
                            My Profile
                        </h3>
                    </button>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>

<div *ngIf="showView == 1">
    <mat-card class="mat-elevation-z5">
        <mat-horizontal-stepper #stepper>
            <mat-step>
                <ng-template matStepLabel>Select your service</ng-template>
                <mat-card class="mat-elevation-z5"
                    style="background-color: rgb(156, 156, 156);height: 100%;margin-top: 10px;">
                    <mat-grid-list cols="4" rowHeight="1:1" [gutterSize]="'20px'">
                        <mat-grid-tile>
                            <mat-card class="cardColorStyle mat-elevation-z5">
                                <h4>Driver<button style="margin-left: 120px;" mat-mini-fab matStepperNext
                                        color="warn">Book</button></h4>
                                <img height=50% width=60% src="assets/taxi-driver.png">
                                <mat-card-content>Trained Drivers at an affordable pricing of
                                    ₹99/Hr. At your doorstep in 30mins. 24/7 Services. Pre-Screened Drivers.
                                    Pay For What You Use.</mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card class="cardColorStyle mat-elevation-z5">
                                <h4>Mechanic<button style="margin-left: 100px;" mat-mini-fab matStepperNext
                                        color="warn">Book</button></h4>
                                <img height=50% width=60% src="assets/mechanic.png">
                                <mat-card-content>Get Roadside Assistance & other Garage
                                    Service at ZERO Subscription All Vehicles. Available 24X7.
                                    Get Mechanic is 20 Mins. Best Roadside Assistance.</mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card class="cardColorStyle mat-elevation-z5">
                                <h4>Hair Dresser<button style="margin-left: 80px;" mat-mini-fab matStepperNext
                                        color="warn">Book</button></h4>
                                <img height=50% width=60% src="assets/hairdresser.png">
                                <mat-card-content>Our essensuals hairdressers benefit from the internationally
                                    recognised TONI&GUY and are trained in both cut and colour.
                                    We offer a wide range of cutting and colouring techniques</mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card class="cardColorStyle mat-elevation-z5">
                                <h4>Gardener<button style="margin-left: 100px;" mat-mini-fab matStepperNext
                                        color="warn">Book</button></h4>
                                <img height=50% width=60% src="assets/gardener.png">
                                <mat-card-content>Our gardening services include the following features:
                                    Pruning of shrubs, bushes and trees.Maintenance of lawns, flowerbeds,
                                    shrubbery, trees and greenery. </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card class="cardColorStyle mat-elevation-z5">
                                <h4>Electrician<button style="margin-left: 100px;" mat-mini-fab matStepperNext
                                        color="warn">Book</button></h4>
                                <img height=50% width=60% src="assets/electrician.png">
                                <mat-card-content>Get Star-Rated Electricians Near You
                                    within 2 hours for services at best prices.</mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card class="cardColorStyle mat-elevation-z5">
                                <h4>Doctor<button style="margin-left: 120px;" mat-mini-fab matStepperNext
                                        color="warn">Book</button></h4>
                                <img height=50% width=60% src="assets/doctor.png">
                                <mat-card-content>All our doctors are highly professional with years
                                    medical experience. We aim to provide you an easy and hassle-free
                                    consultation at home at your doorstep.</mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card class="cardColorStyle mat-elevation-z5">
                                <h4>Chemist<button style="margin-left: 120px;" mat-mini-fab matStepperNext
                                        color="warn">Book</button></h4>
                                <img height=50% width=60% src="assets/chemist.png">
                                <mat-card-content>Pharmaceutical Ordering and Support for
                                    Pharmacies and Health Systems.</mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card class="cardColorStyle mat-elevation-z5">
                                <h4>Carpenter<button style="margin-left: 100px;" mat-mini-fab matStepperNext
                                        color="warn">Book</button></h4>
                                <img height=50% width=60% src="assets/carpenter.png">
                                <mat-card-content>Get Star-Rated Carpenters Near You within 2
                                    hours for services at best prices..</mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card class="cardColorStyle mat-elevation-z5">
                                <h4>Builder<button style="margin-left: 120px;" mat-mini-fab matStepperNext
                                        color="warn">Book</button></h4>
                                <img height=50% width=60% src="assets/builder.png">
                                <mat-card-content>You will find many links to help you with your construction/remodeling
                                    projects.
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card class="cardColorStyle mat-elevation-z5">
                                <h4>Gym<button style="margin-left: 140px;" mat-mini-fab matStepperNext
                                        color="warn">Book</button></h4>
                                <img height=50% width=60% src="assets/athlete.png">
                                <mat-card-content>Successfully delivered a complete fitness lifestyle to our members.
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>