<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Customer Name</h4>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                    <h6>{{custData?.cust_name}}</h6>
                </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <h4>Customer Phone</h4>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <h6>{{custData?.cust_phone}}</h6>
                    </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <h4>Customer Email</h4>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <h6>{{custData?.cust_email}}</h6>
                        </div>
            </div>
</div>
