<mat-card class="mat-elevation-z5 cardColorStyle">
    <div mat-card-title>Job Request</div>
    <div style="width: 100%">
    <table style="width:100%">
        <mat-card class=" mat-elevation-z5 cardJobRequest">
            <tr style="width:100%">
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Request Time</th>
                <th>Request Date</th>
                <th>Service Type</th>
                <th>Completion Status</th>
                <th>Price</th>
            </tr>
        </mat-card>
        <mat-card class=" mat-elevation-z5 cardJobRequest">
            <tr>
                    <td>January</td>
                    <td>1000</td>
            </tr>
        </mat-card>
    </table>
    </div>
</mat-card>
