<div *ngIf = "loginSignUp && loginLogin"  mat-dialog-content>
      <button mat-raised-button color="warn" (click)= "clientSignUp()">Sign Up</button>
      <button mat-raised-button color="warn" style="margin-left: 50px" (click)="clientLogin()">Login</button>
</div>
<div *ngIf = "!loginSignUp"  mat-dialog-content>
      <div mat-dialog-title mat-dialog-actions>
          Sign Up
        <span style="margin-left: 280px">
          <button mat-raised-button color="warn" (click)= "clientSignUp()">Back</button>
          <button mat-raised-button color="warn" style="margin-left: 20px;">Join</button>
        </span>
      </div>
    <br/>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="password">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Address">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type = "text" matInput placeholder="Phone Number">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="City">
        </mat-form-field>
        <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select>
              <mat-option *ngFor="let state of states" [value]="state.value">
                {{state.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <br/>
        <br/>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
          </mat-radio-group>
      </form>
</div>
<div *ngIf="!loginLogin">
    <h1 mat-dialog-title>Login</h1>
    <form class="example-form">
      <mat-form-field class="example-full-width">
          <input type="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="password">
      </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn" (click)= "clientLogin()">Back</button>
        <button mat-raised-button color="warn" style="margin-left: 20px">Login</button>
    </div>
</div>
