<video autoplay muted loop id="myVideoIndexWelcome">
    <source src="assets/NycTraffic.mp4" type="video/mp4">
  </video>
  <div class="contentIndexWelcome" style="text-align:center;">
    <h1 style="font-family: 'Josefin Sans', sans-serif; font-weight: 800;font-size: 80px; color: rgb(223, 223, 223)">
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="assets/logo.png">
    <br/>
    <a routerLink = "/home">
      <button mat-raised-button id="getStarted"  style="height: 100px; width:350px; color:rgb(87, 87, 87); margin-top: 50px;">
        <h1  style="font-family: 'Josefin Sans', sans-serif">Lets Get Started</h1>
      </button>
    </a>
</div>