<mat-toolbar class="mat-elevation-z5" color="" style="background: azure; position:sticky;top: 0">

    <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img alt="" src="https://images-na.ssl-images-amazon.com/images/I/51UxJNUFa4L.png" height="30" width=30>
              </a>
            </div>
          </div>
    <span style="text-align:start">Welcome Supplier</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space" style="flex: 1 1 auto"></span>
  
    <!--add some links on these spans-->
   
    <span class="example-spacer" style="padding-right: 30px">About us</span>
    <span class="example-spacer"style="padding-right: 30px">Contact us</span>
    <span class="example-space"style="padding-right: 30px" on-click="logout()">Logout</span>
   
  </mat-toolbar>
  <div style="width: 100%; height:70%; background-color: teal;">
    <!-- Default form register -->
<!--         
    <mat-card  style="text-align: center; height: 500px; width: 500px; float: none; margin-bottom: 10px">

    </mat-card>
-->



  </div>
  