<video autoplay muted loop id="myVideoIndexWelcome">
    <source src="assets/NycTraffic.mp4" type="video/mp4">
</video>

<span style="margin-left: 950px;margin-top: 10px; display: flex">

    <div class="container">
        <div class="row">
            <div class="col-md-3" style="text-align: right">
                <button mat-raised-button class="login" color="warn" (click)="openDialog()">Login as
                    Client</button>
            </div>
            <div class="col-md-9">
                <button mat-raised-button class="login" color="warn" (click)="openSupDialog()">Login as Service
                    Provider</button>
                    <button mat-raised-button class="login" style="margin-left: 10px;"  color="warn" (click)="openAdminDialog()">Login as Admin</button>

            </div>            

        </div>
    </div>

    <!-- <button mat-raised-button class="login" color="warn" style=" width:150px" (click)="openDialog()">Login as
        Client</button>

    <button mat-raised-button class="login" color="warn" style="margin-left: 10px; margin-right: 10px; width:200px;"
        (click)="openSupDialog()">Login as Service Provider</button>

        <button mat-raised-button class="login" color="warn" style="margin-left: 10px;margin-left: 10px; width:130px;"
        (click)="openSupDialog()">Login as Admin</button> -->


</span>


<div class="contentIndexWelcome" style="text-align:center;">
    <h1 style="font-family: 'Josefin Sans', sans-serif; font-weight: 800;font-size: 80px; color: rgb(223, 223, 223)">
        Welcome to {{ title }}!
    </h1>
    <img width="300" style="margin-top: 30px" src="assets/logo.png">
    <br />
    <img height=100px width=100px style="margin-top: 30px; text-decoration: none;cursor: pointer"
        src="assets/bouncing-arrow.gif" (click)="goBottom()">
</div>

<mat-card id="scrollId" style="margin-top: 50px;width:100%" class="contentIndexWelcome2">
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3 align="center">Services</h3>
                <p align="center">We provide a variety of services to our clients. Some of the most popular servies are
                    listed below</p>
            </header>

            <div class="row">

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon">
                        <i class="fa fa-car"></i>

                    </div>
                    <h4 class="title" style="color: tomato"><a (click)="openDialog()">Drivers</a></h4>
                    <p class="description">Trained Drivers at an affordable pricing of
                        ₹99/Hr. At your doorstep in 30mins. 24/7 Services. Pre-Screened Drivers.
                        Pay For What You Use.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="fa fa-wrench"></i></div>
                    <h4 class="title" style="color: tomato"><a (click)="openDialog()">Mechanics</a></h4>
                    <p class="description">Get Roadside Assistance & other Garage
                        Service at ZERO Subscription All Vehicles. Available 24X7.
                        Get Mechanic is 20 Mins. Best Roadside Assistance.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="fa fa-cut"></i></div>
                    <h4 class="title" style="color: tomato"><a (click)="openDialog()">Hairdressers</a></h4>
                    <p class="description">`Trained Hairdressers at an affordable pricing of
                        ₹99/Hr. At your doorstep in 30mins. 24/7 Services.
                        Pay For What You Use.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="fa fa-leaf"></i></div>
                    <h4 class="title" style="color: tomato"><a (click)="openDialog()">Gardeners</a></h4>
                    <p class="description">Our gardening services include the following features:
                        Pruning of shrubs, bushes and trees.Maintenance of lawns, flowerbeds,
                        shrubbery, trees and greenery. All this at an affordable price of Rs.99/hr</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="fa fa-bolt"></i></div>
                    <h4 class="title" style="color: tomato"><a (click)="openDialog()">Electricians</a></h4>
                    <p class="description">Get Star-Rated Electricians Near You
                        within 2 hours for services at best prices. Fix all kinds of faults in Rs. 500 under special
                        offer</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="fa fa-edit"></i></div>
                    <h4 class="title" style="color: tomato"><a (click)="openDialog()">Assorted Services</a> </h4>
                    <p class="description">Get specialised services by diffrent service providers customised to your
                        needs</p>
                </div>

            </div>

        </div>
    </section><!-- #services -->
</mat-card>
<mat-card width="100%">
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>About Us</h3>
                <p>HouseHelp was created when our founders noticed how difficult it was to find the right service
                    provider at the right time. A Google search only gives you access to those providers with the
                    resources to increase their visibility online. What’s more, how can you be sure that these providers
                    are qualified for the job you need to get done and that they will be available when you need them to
                    be? How can you get access to all the professionals near you without having to call every single
                    name on local.ch? Here the idea of HouseHelp was born. We are a platform that aims to provide you
                    access to all the professionals in your area so that you can get access to who you need, when you
                    need them.</p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/about-mission.jpg" alt="" class="img-fluid">
                            <!-- <div class="icon"><i class="ion-ios-speedometer-outline"></i></div> -->
                        </div>
                        <h2 class="title">Our Mission</h2>
                        <p>
                            To help clients and service providers connect seamlessly with each other.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/about-plan.jpg" alt="" class="img-fluid">
                            <!-- <div class="icon"><i class="ion-ios-list-outline"></i></div> -->
                        </div>
                        <h2 class="title">Our Plan</h2>
                        <p>
                            Work 24/7 to integrate various services into our product and provide a one stop solution to
                            clients.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/about-vision.jpg" alt="" class="img-fluid">
                            <!-- <div class="icon"><i class="fa fa-car"></i></div> -->
                        </div>
                        <h2 class="title">Our Vision</h2>
                        <p>
                            To bring together clients and service providers under a single platform.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #about -->

</mat-card>

<mat-card width="100%">
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3>Contact Us</h3>
                <p>We would love to hear from you!</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="fa fa-home"></i>
                        <h3>Address</h3>
                        <address>24/83-84 West Patel Nagar</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="fa fa-phone"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+918447672199">+918447672199</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="material-icons">email</i>
                        <h3>Email</h3>
                        <p><a href="mailto:kapoor.harshit97@gmail.com">kapoor.harshit97@gmail.com</a></p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</mat-card>